@* @{
    ViewData["Title"] = "LibraryHome";
}

<h1>@ViewData["Title"]</h1> *@
@model List<Library_Management_System.Models.Book>

<div class="navbar-brand">
    <a asp-action="UserBookCatalog" asp-controller="Library">Catalog</a>
    <a href="#">History</a>
    <a href="#">Requests</a>
    <a href="#">Sign Out</a>
    <a asp-action="UserHome" asp-controller="Library">Home</a>
</div>

<h1>Book Catalog</h1>

<table class="table">
    <thead>
        <td>Book Title</td>
        <td>Author</td>
        <td>Genre</td>
        <td>ISBN</td>
        <td>Copy</td>
        <td>Availability</td>
    </thead>
    <tbody>
        @foreach(var books in Model)
        {
            <tr>
                <td>@books.Title</td>
                <td>@books.Author</td>
                <td>@books.Genre</td>
                <td>@books.ISBN</td>
                <td>@books.Copies</td>
                <td>@books.Availability</td>
                <td><a class="btn btn-primary">Edit</a></td>
            </tr>
        }
    </tbody>
</table>

